.about_achievements {
  margin-top: 3rem;
}
.about_achievements-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
}
.about_achievements-right > p {
  margin: 1.6rem 0 2.5rem;
}
/* .achievements_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.achievements-card {
  background: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
}
.achievements-card:hover {
  background: var(--color-bg2);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}
.achievements-icon {
  background: var(--color-danger);
  padding: 0.6rem;
  display: inline-block;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
} */
.achievements-card:nth-child(2) .achievements-icon {
  background: var(--color-success);
}
.achievements-card:nth-child(3) .achievements-icon {
  background: var(--color-primary);
}
.achievements-card p {
  margin-top: 1rem;
}
@media screen and (max-width: 1050px) {
  .about_achievements {
    margin-top: 2rem;
  }
  .about_achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .about_achievements-left {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  /* .achievements_cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  } */
}
