.course-display-main{
  margin: 2rem 0rem;
}

.course-display {
  display: grid;
  grid-template-columns: 20% 70%;
  margin-top: 30px;
  gap: 10%;
  row-gap: 50px;
  padding: 0px 20px 10px 10px;
}
.course-display-right{
  font-size: 18px;
}
.course-display-right p{
  margin-top: 25px;
}
.syllabusChapters{
  font-size: 16px;
  width: 100%;
  margin: 1rem 0rem;
  box-sizing: border-box;
}
.syllabusChapter{
  box-sizing: border-box;
  color: grey;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
}
.course-display-left img {
  border: 1px solid #495464;
  padding: 20px;
  width: 100%;
}
@media screen and (max-width:1050px) {
  .course-display-right{
    font-size: 22px;
  }
  .syllabusChapters{
    font-size: 20px;
  }
  
  
}
@media screen and (max-width:750px) {
  .course-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 30px;
    gap: 10%;
    row-gap: 50px;
    padding: 0px 20px 10px 10px;
  }
  .course-display-right{
    font-size: 18px;
  }
  .syllabusChapters{
    font-size: 16px;
  }
  
}
