.course-display {
  display: grid;
  grid-template-columns: 20% 70%;
  margin-top: 30px;
  gap: 10%;
  row-gap: 50px;
  padding: 0px 20px 10px 10px;
}

.course-display-left img {
  border: 1px solid #495464;
  padding: 20px;
  width: 100%;
}
@media screen and (max-width:750px) {
  .course-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 30px;
    gap: 10%;
    row-gap: 50px;
    padding: 0px 20px 10px 10px;
  }
  
}
