.header {
  height: 34vw;
  margin: 0px auto;
  position: relative;
  z-index: 0;
}
.header-contents {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contents h2 {
  font-weight: 500;
  /* color: white; */
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  /* color: white; */
  font-size: 1vw;
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
.hero-input {
  background-color: transparent;
  padding: 5px;
}
.header-text {
  position: absolute;
  width: 45%;
  bottom: 10%;
  left: 5%;
  z-index: 1;
  color: black;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.text-majhi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1050px) {
  /* .header-contents {
    max-width: 45%;
  } */
  .header {
    height: 20vh;
  }
}
@media (max-width: 750px) {
  /* .header-contents {
    max-width: 65%;
  } */
  .header {
    height: 50vh;
  }
  .header-text {
    bottom: 20%;
    left: 15%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
@media (max-width: 390px) {
  .header-text {
    bottom: 20%;
    left: 15%;
  }
  .header {
    height: 50vh;
  }
  .header-contents {
    bottom: 5%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
