/* .mySwiper{
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
} */
.testimonial {
  padding-top: 2rem;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
}
.avatar {
  width: 6rem;
  height: 6rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1rem solid var(--color-bg1);
}
.testimonial_info {
  text-align: center;
}
.testimonial_body {
  background: var(--color-primary);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials {
  position: relative;
  /* padding-top: 5rem; */
  margin-top: 40px;
  z-index: 0;
  padding-bottom: 5rem;
}
/* .testimonial{
  border: 1px solid black;
  padding: 10rem;
  width: 200px;
}
@media screen and (max-width: 750px) {
  .testimonial{
    width: 60%;
  }
} */
