.achievements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 2fr));
  gap: 3rem;
  padding: 2rem;
  margin: 2rem auto;
  background-color: rgb(214, 206, 206);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.achievements-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
